@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  src: url("../fonts/PTSansRegular.woff2") format("woff2"),
       url("../fonts/PTSansRegular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("../fonts/OpenSansLight.woff2") format("woff2"),
       url("../fonts/OpenSansLight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/OpenSansRegular.woff2") format("woff2"),
       url("../fonts/OpenSansRegular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/OpenSansRegularItalic.woff2") format("woff2"),
       url("../fonts/OpenSansRegularItalic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
       url("../fonts/OpenSansSemiBold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/OpenSansBold.woff2") format("woff2"),
       url("../fonts/OpenSansBold.woff") format("woff");
}

@font-face {
  font-family: "Slabo 27px";
  font-weight: 400;
  src: url("../fonts/Slabo27pxRegular.woff2") format("woff2"),
       url("../fonts/Slabo27pxRegular.woff") format("woff");
}
