.news {
  padding-top: 95px;
  padding-bottom: 87px;
  text-align: center;
  background-color: #ffffff;
}

.news__title {
  margin: 0;
  font-family: "Slabo 27px", serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #26211e;
}

.news__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 95px;
  padding: 0;
  list-style: none;
}

.news__link {
  display: flex;
  justify-content: space-between;
  width: 370px;
  text-align: left;
  text-decoration: none;

  &:not([href]) {
    opacity: 0.3;
    pointer-events: none;
  }
}

.news__link-img-wrapper {
  width: 170px;
  font-size: 0;
}

.news__link-data-wrapper {
  width: 200px;
  padding-left: 30px;
}

.news__link-date {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #a99e9b;
}

.news__link-title {
  position: relative;
  margin: 0;
  margin-top: 5px;
  padding-bottom: 17px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #b23427;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 30px;
    height: 1px;
    background-color: #d1d1d1;
  }
}

.news__link-text {
  margin: 0;
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #26211e;
}

.news__more {
  display: inline-block;
  position: relative;
  margin-top: 70px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #b23427;

  &:not([href]) {
    opacity: 0.3;
    pointer-events: none;
  }

  &::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: #d1d1d1;
  }
}
